.next{
    height: 600px;
    width: 95%;
    background-color: #28282B;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
.nextTitle{
    color: white;
    font-size: 60px;
    padding: 20px;
}
.nextBlock{
    background-color: white;
    color: black;
    height: 460px;
    width: 600px;
    margin-left: 20px;
}
.nextDetail{
    font-size: 40px;
    color: black;
}